name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]
  workflow_dispatch: # allows you to trigger manually

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    name:
      ${{ matrix.os }} ${{ matrix.name }} py${{ matrix.python-version }} /
      MongoDB ${{ matrix.mongodb-version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        name: [latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        mongodb-version: ["3.6", "7.0"]

        include:
          # Test latest on MacOSX
          - name: latest
            os: macos
            python-version: "3.9"
            mongodb-version: "4.4"
          - name: latest
            os: macos
            python-version: "3.13"
            mongodb-version: "7.0"

          # Test latest on Windows
          # (mongodb version is hardcoded in install_mongodb.ps1)
          # FIXME MongoDB install script is broken
          # - name: latest
          #   os: windows
          #   python-version: "3.9"
          #   mongodb-version: "3.6"
          # - name: latest
          #   os: windows
          #   python-version: "3.13"
          #   mongodb-version: "3.6"

          # Test minimum dependencies, no optionals
          - name: min-no-optionals
            os: ubuntu
            python-version: "3.9"
            mongodb-version: "3.6"
          - name: min-no-optionals
            os: macos
            python-version: "3.9"
            mongodb-version: "4.4"

          # FIXME MongoDB install script is broken
          # - name: min-no-optionals
          #   os: windows
          #   python-version: "3.9"
          #   mongodb-version: "3.6"

          # Test minimum dependencies, all optionals
          - name: min-all-deps
            os: ubuntu
            python-version: "3.9"
            mongodb-version: "3.6"
          - name: min-all-deps
            os: macos
            python-version: "3.9"
            mongodb-version: "4.4"

          # FIXME MongoDB install script is broken
          # - name: min-all-deps
          #   os: windows
          #   python-version: "3.9"
          #   mongodb-version: "3.6"

          # Test on nightly builds of requirements
          - name: upstream
            os: ubuntu
            python-version: "3.13"
            mongodb-version: "7.0"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start MongoDB on Linux
        if: matrix.os == 'ubuntu'
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Start MongoDB on MacOS
        if: matrix.os == 'macos'
        run: |
          brew tap mongodb/brew
          brew install mongodb-community@${{ matrix.mongodb-version }}
          brew services start mongodb-community@${{ matrix.mongodb-version }}

      - name: Start MongoDB on Windows
        if: matrix.os == 'windows'
        shell: pwsh
        run: pwsh ci/install_mongodb.ps1

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          use-mamba: true
          python-version: ${{ matrix.python-version }}
          environment-file: ci/requirements-${{ matrix.name }}.yml
          activate-environment: xarray_mongodb

      - name: Install nightly builds
        if: ${{ matrix.requirements == 'upstream' }}
        run: |
          # Pick up https://github.com/mamba-org/mamba/pull/2903
          mamba install -n base 'mamba>=1.5.2'

          python -m pip install --no-deps --pre \
              -i https://pypi.anaconda.org/scientific-python-nightly-wheels/simple \
              numpy pandas

      - name: conda info
        run: conda info

      - name: conda list
        run: conda list

      - name: Test MongoDB service
        run: python ci/mongo_smoke_test.py

      - name: Install
        run: python -m pip install --no-deps -e .

      - name: pytest
        run: py.test xarray_mongodb --cov=xarray_mongodb --cov-report=xml

      - name: codecov.io
        uses: codecov/codecov-action@v3
